@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .primary-color {
    background-color: #121212;
    color: #fff;
  }
  .secondary-color {
    background-color: #fff;
    color: #000;
  }
}
